@inherits LayoutComponentBase

<PageTitle>Imbang Lady Jane </PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar navbar-expand-sm bg-Black">

            <div class="container-fluid">
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.tripadvisor.com.ph/">Tripadvisor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/photo/?fbid=748703467290243&set=a.224830553010873&__tn__=%3C">DTS FB PAGE</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="top-row px-4">
            <a href="https://www.roughguides.com/" target="_blank">Roughguides</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary fw-bold">LADY JANE IMBANG</p>

                <a href="https://southernchristiancollege.edu.ph/"
                   target="_blank"
                   class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="https://southernchristiancollege.edu.ph/wp-content/uploads/2024/06/SCC-Official-Logo_320px.png"
                         alt="Southern Christian College Logo"
                         width="10%"
                         class="me-2">
                </a>

                <label class="nav col-md-4 justify-content-end fw-bold">INFORMATION TECHNOLOGY STUDENT</label>
            </footer>
        </div>
    </main>
</div>