@page "/Footer"

<h3>footer</h3>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary fw-bold">LADY JANE IMBANG</p>

        <a href="https://southernchristiancollege.edu.ph/"
           target="_blank"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/SCC-Official-Logo_320px.png"
                 alt="Southern Christian College Logo"
                 width="10%"
                 class="me-2">
        </a>

        <label class="nav col-md-4 justify-content-end fw-bold">INFORMATION TECHNOLOGY STUDENT</label>
    </footer>
</div>