@page "/images"

<h3 style="color: white; text-shadow: 2px 2px 4px black;"><strong>Images</strong></h3>
<div class="image-container">
    <img src="https://www.wonderingwanderer.com/wp-content/uploads/2023/04/Mindanao-Tourist-Spots.jpg" alt="Image 3" class="image" />
    <img src="https://www.taraletsanywhere.com/wp-content/uploads/2022/11/top-tourist-spots-in-mindanao-feature-1140x759.jpg" alt="Image 3" class="image" />
    <img src="https://pinaywise.com/wp-content/uploads/2024/04/Sultan-Kudarat-Mindanao-1500x500.avif" alt="Image 3" class="image" />
    <img src="https://pinaywise.com/wp-content/uploads/2024/05/Tubod-Lanao-del-Norte-Mindanao.jpg" alt="Image 3" class="image" />
    <img src="https://img.atlasobscura.com/JpvYva06E8V0I6bOmtjImzujtafkYfEbA5Bu-DnxL4s/rs:fill:780:520:1/g:ce/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy9kYTM0/MTUwNDQzOTVmNTVi/ZDZfNTc3MTI5ODI3/M182YmUxODMyMGIx/X3ouanBn.jpg" alt="Image 3" class="image" />
    <img src="https://pinaywise.com/wp-content/uploads/2024/03/Mt-Talomo-Davao-Del-Sur-Mindanao.jpg" alt="Image 3" class="image" />
    <img src="https://i.pinimg.com/originals/78/2b/fa/782bfa1efe27ea2aca32dd957f4e7999.png" alt="Image 3" class="image" />
    <img src="https://carrentaldavao.com/wp-content/uploads/2021/07/Gumasa-Beach-Glan-Sarangani.jpg" alt="Image 3" class="image" />
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/15/39/0f/as-the-sun-rises-more.jpg?w=1200&h=-1&s=1" alt="Image 3" class="image" />
  </div>

<style>
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        padding: 20px;
        border-radius: 10px;
    }

    .image {
        max-width: calc(30% - 20px);
        height: auto;
        margin: 10px;
        border: 4px solid #ADD8E6;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
        transition: transform 0.3s, box-shadow 0.3s; 
    }

        .image:hover {
            transform: scale(1.05); 
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
        }
</style>
