@page "/Videos"
<head>
    <style>
        body {
            background-color: #e0f7fa; 
            background-image: url('path/to/your/new-background.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            color: #333; 
            font-family: Arial, sans-serif; 
            text-align: center; 
            padding: 20px; 
        }

        h3 {
            color: #00796b;
            margin-bottom: 20px; 
        }

        iframe {
            width: 80%; 
            max-width: 600px; 
            height: 315px;
            / margin: 20px auto; 
            border: 2px solid #00796b;
            * Fixed height */ border-radius: 10px; 
    </style>
</head>

<h3 style="color: white; text-shadow: 2px 2px 4px black;"><strong>VIDEOS</strong></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/_UCHFjZGh2A?si=aHsE6Mx9YYSOuuYu"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/CLOxzs1_ODg?si=ceAwcgY1Vh3YN9Mf"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/F_Pi1XheeRA?si=74Xz0W7fg-MnmcaC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/vurDsaObTaA?si=G2Q5JqrEw1G7tzLB"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/KJ9SOboYhKY?si=DJvq3qpN6WJ4_qwL"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>
